@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Bold";
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Sharp";
  src: url("../fonts/Sharp.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Black";
  src: url("../fonts/Roboto-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Light";
  src: url("../fonts/Roboto-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Carter-One";
  src: url("../fonts/CarterOne.ttf") format("truetype");
}

@font-face {
  font-family: "Anton";
  src: url("../fonts/Anton/Anton-Regular.ttf");
}

:root {
  --primary-color: #e14747;
  --secondary-color: #F1FF38;
  --white-color: #ffffff;
  --dark-color: #222222;
  --project-bg: #f0f8ff;
  --black: #000;
  --blue-color: #39828c;

  --title-color: #222222;
  --gray-color: #909090;
  --link-color: #404040;
  --p-color: #666262;

  --base-font-family: "Roboto-Light", sans-serif;
  --title-font-family: "Roboto-Regular", sans-serif;
  --font-bold-family: "Roboto-Bold", sans-serif;
  --anton: "Anton", sans-serif;
  --sharp: "Sharp", sans-serif;
  --font-weight-bold: bold;

  --h1-font-size: 48px;
  --h2-font-size: 32px;
  --h3-font-size: 24px;
  --p-font-size: 20px;
  --p-font-name: 22px;
  --p-font-footer: 15px;
  --base-font-size: 16px;
  --menu-font-size: 14px;

  --border-radius-large: 100px;
  --border-radius-small: 5px;
}

body {
  background: var(--white-color);
  font-family: var(--base-font-family);
}

/*---------------------------------------
     TYPOGRAPHY              
  -----------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title-font-family);
  line-height: inherit;
}

h1 {
  color: var(--white-color);
  font-size: var(--h1-font-size);
}

.titulo_negro {
  color: var(--dark-color);
  font-size: var(--h1-font-size);
  margin: 10vh 0 8vh 0;
}

.black_title_countdown {
  color: var(--dark-color);
  font-size: var(--h1-font-size);
  margin: 10vh 0 8vh 0;
  font-family: var(--anton);
}

h2 {
  font-size: var(--h2-font-size);
  font-weight: 100;
}

h3 {
  font-size: var(--h3-font-size);
  font-weight: 100;
  margin-bottom: 0;
}

h4 {
  color: var(--gray-color);
  font-family: var(--base-font-family);
  font-size: var(--p-font-size);
  letter-spacing: 1px;
  text-transform: uppercase;
}

p {
  color: var(--p-color);
  font-size: var(--p-font-size);
  line-height: 1.5em;
}

.p_red {
  color: var(--primary-color);
  font-size: var(--p-font-size);
  line-height: 1.5em;
}

.pregular {
  color: var(--black);
  font-size: var(--p-font-size);
  line-height: 1.5em;
}

.title_red {
  color: var(--primary-color);
  font-size: var(--h1-font-size);
  font-family: "Roboto-Bold";
  position: relative;
  z-index: 1;
}

.title_amarillo {
  color: var(--secondary-color);
  font-size: var(--h1-font-size);
  font-family: "Sharp";
  z-index: 1;
  margin-top: 8vh;
  background-color: var(--black);
}

.yellow_title_countdown {
  color: var(--secondary-color);
  font-size: var(--h1-font-size);
  font-family: var(--anton);
  z-index: 1;
  margin-top: 8vh;
  text-align: left;
  padding-left: 6vw;
}

.black_title_countdown {
  color: var(--black);
  font-size: var(--h1-font-size);
  font-family: var(--anton);
  z-index: 1;
  margin-top: 8vh;
  text-align: left;
  padding-left: 8vw;
}

.p_regular {
  color: var(--white-color);
  font-size: var(--p-font-size);
  font-family: "Roboto-Light";
  position: relative;
  z-index: 1;
}

.p_red_2 {
  color: var(--white-color);
  font-size: 35px;
  font-family: "Roboto-Light";
  position: relative;
  z-index: 1;
}

.footer_ted_p {
  color: var(--p-color);
  font-size: var(--p-font-footer);
  line-height: 1.5em;
  text-align: justify;
}

.carousel-control-prev-icon{
  color: var(--white-color);
}

.p_justify {
  text-align: justify;
  width: 60vw;
}

b,
strong {
  letter-spacing: 0;
  color: var(--primary-color);
}

.blue_text {
  color: var(--blue-color);
}

.second_text {
  color: var(--secondary-color);
  font-size: var(--h1-font-size);
}

/*  BLOCKQUOTES */
.quote {
  position: relative;
  margin: 0;
}

.quote::after {
  content: "“";
  position: absolute;
  bottom: -80px;
  left: 20px;
  font-family: times;
  color: var(--gray-color);
  font-weight: var(--font-weight-bold);
  font-size: 14em;
  line-height: 0;
  opacity: 0.1;
}

.blackbg{
  background-color: #000;
}

blockquote {
  border-left: 5px solid rgba(0, 0, 0, 0.05);
  display: block;
  margin: 42px 0;
  padding: 14px 22px;
  color: rgba(0, 0, 0, 0.5);
}

/* BUTTON */
.custom-btn {
  background: transparent;
  border: 2px solid var(--dark-color);
  border-radius: var(--border-radius-large);
  padding: 12px 26px 14px 26px;
  color: var(--dark-color);
  font-family: var(--title-font-family);
  font-size: var(--p-font-size);
  white-space: nowrap;
}

.custom-btn.btn-bg {
  background: var(--white-color);
  color: var(--primary-color);
  border-color: transparent;
  transition: all 0.3s ease;
}

.custom-btn:hover,
.custom-btn:focus {
  background: var(--dark-color);
  color: var(--white-color);
  border-color: transparent;
}

/*---------------------------------------
     GENERAL               
  -----------------------------------------*/

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: var(--link-color);
  font-weight: normal;
  text-decoration: none;
}

a:hover,
a:active,
a:focus {
  color: var(--secondary-color);
  outline: none;
  text-decoration: none;
}

::selection {
  background: var(--secondary-color);
  color: var(--white-color);
}

.section-padding {
  padding: 2em 0;
}

.section-padding-learn {
  padding: 10em 0;
}

.section-padding-ted-circles {
  padding: 0em 0;
  margin-bottom: 10vh;
}

.section-padding-half {
  padding: 4em 0;
}

.section__oradores {
  text-align: center;
  height: max-content;
  max-width: 100vw;
  background-color: #000;
}

.section__event {
  text-align: center;
  height: max-content;
  max-width: 100vw;
  background-color: var(--white-color);
}

.section__event.title_amarillo {
  color: var(--black);
  font-size: var(--h1-font-size);
  font-family: "Sharp";
  z-index: 1;
  margin-top: 8vh;
}

.img__logo__thanks {
  height: 20vh;
  margin: 1vh 0 5vh 0;
}

.sponsor__space__gold {
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: aquamarine;
  outline: 1px solid black; */
}

.div__orador {
  height: 50vh;
  display: flex;
  margin-bottom: 10vh;
  align-items: center;
  justify-content: center;
}

.div_countdown_team {
  height: 50vh;
  display: flex;
  margin: 40px 0 100px 0;
  align-items: center;
  justify-content: center;
}

.div__speaker {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__orador {
  background-color: var(--white-color);
  border-radius: 20%;
  height: 300px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12); */
  transition: 2s ease-in-out;
}

.card_team_countdown {
  background-color: #F7FAFC;
  height: 450px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 5px 5px 5px 5px;
}

.name_team {
  background-color: var(--black);
  color: white;
  height: 100px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px 5px 0 0;
}

.name_team_p {
    color: white;
    font-family: var(--sharp);
    text-align: center;
    font-size: 30px;
}

.description_team {
  width: 300px;
  height: 50px;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 5px 5px;
}

.description_team_p {
    color: var(--black);
    font-family: var(--anton);
    text-align: center;
}

.card__orador:hover {
  box-shadow: 0 2.8px 2.2px rgba(237, 30, 30, 0.034),
    0 6.7px 5.3px rgba(201, 36, 36, 0.048),
    0 12.5px 10px rgba(194, 37, 37, 0.06),
    0 22.3px 17.9px rgba(173, 24, 24, 0.072),
    0 41.8px 33.4px rgba(221, 30, 30, 0.086),
    0 100px 80px rgba(240, 58, 58, 0.12);

  transition: 2s ease-out;
}

.card__speaker {
  background-color: var(--white-color);
  border-radius: 20%;
  height: 400px;
  width: 360px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12); */
  transition: 2s ease-in-out;
}

.card__speaker:hover {
  box-shadow: 0 2.8px 2.2px rgba(237, 30, 30, 0.034),
    0 6.7px 5.3px rgba(201, 36, 36, 0.048),
    0 12.5px 10px rgba(194, 37, 37, 0.06),
    0 22.3px 17.9px rgba(173, 24, 24, 0.072),
    0 41.8px 33.4px rgba(221, 30, 30, 0.086),
    0 100px 80px rgba(240, 58, 58, 0.12);
  transition: 2s ease-out;
  position: relative;
  z-index: 1;
}

.img__format {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 1em;
}

.img_format_team {
  height: fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 1em;
}

.img__format__speakers {
  border-radius: 50%;
  height: 280px;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 1em;
}

.nombre__orador {
  color: var(--primary-color);
  font-size: var(--p-font-name);
  line-height: 1.5em;
  margin: 2vh 0 2vh 0;
  height: 7vh;
}

.google-map iframe {
  display: block;
  width: 100%;
}

.container__lottie {
  display: flex;
  justify-content: center;
}

.container__center {
  display: flex;
  justify-content: center;
}

.container__lottie__learn {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.container_head_icons {
  position: relative;
  top: -4em;
  left: 56em;
  width: 10vw;
  display: flex;
  justify-content: space-between;
}

.container__red__text {
  width: 40vw;
}

.head_icons {
  color: var(--white-color);
}

.container_thanks_icons {
  margin: auto;
  display: flex;
  justify-content: space-between;
  width: 20vw;
}

.thanks_icons {
  color: var(--secondary-color);
  font-size: 25px;
  margin-top: 1em;
  margin-bottom: 1em;
  transition: transform 0.2s;
}

.thanks_icons:hover {
  color: var(--primary-color);
  transform: scale(1.5);
}

.container__footer__art {
  max-width: 100vw;
  height: 70vh;
  background-image: url("../images/fondoabajo.png");
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
}

.container__footer__art__index {
  max-width: 100vw;
  height: 92vh;
  background-image: url("../images/fondoabajo.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  position: relative;
  z-index: 0;
}

.img__art__02__index {
  width: 20vw;
  position: absolute;
  left: 4%;
  top: 145%;
  z-index: 0;
}

.img__art__01__index {
  width: 19vw;
  position: absolute;
  right: 2%;
  top: 145%;
  transform: rotate(70deg);
  z-index: 0;
}

.highlight__section {
  display: inline-block;
  position: relative;
  z-index: 1;
  background-color: var(--primary-color);
  margin: auto;
  border-radius: 10px;
  color: #f0f8ff;
  width: 50vw;
  height: 10vh;
  place-content: center;
  display: grid;
  margin-top: 30px;
  margin-bottom: 30px;
  box-shadow: 0 2.8px 2.2px rgba(237, 30, 30, 0.034),
    0 6.7px 5.3px rgba(201, 36, 36, 0.048),
    0 12.5px 10px rgba(194, 37, 37, 0.06),
    0 22.3px 17.9px rgba(173, 24, 24, 0.072),
    0 41.8px 33.4px rgba(221, 30, 30, 0.086),
    0 100px 80px rgba(240, 58, 58, 0.12);
}

.highlight__section:hover {
  -webkit-transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}

.text__aliado__olla {
  color: white;
  font-family: "Roboto-Light";
  padding-top: 10px;
}

.aliados__link {
  color: white;
  font-family: "Roboto-Light";
}

.countdown_sponsor_img {
  transition: transform .4s;
}

.countdown_sponsor_img:hover {
  transform: scale(2);
}

/*---------------------------------------
    MENU             
  -----------------------------------------*/

.navbar {
  background: var(--black);
  z-index: 2;
  top: 0;
  right: 0;
  left: 0;
  padding: 1.5em;
}

.navbar-brand {
  color: var(--dark-color);
  font-size: var(--h2-font-size);
  background-color: #000;
}

.nav-link {
  color: var(--white-color);
  font-size: var(--menu-font-size);
  letter-spacing: 0.4px;
  margin: 0 1.4em;
  padding: 0.6em;
}

.nav-img {
  margin-right: 8em;
}

.nav-link.active,
.nav-link:hover {
  color: var(--secondary-color);
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
  /* margin-left: 3.5em; */
}

.navbar-expand-lg .navbar-nav .nav-link.contact {
  border: 2px solid var(--secondary-color);
  border-radius: var(--border-radius-large);
  color: var(--secondary-color);
  font-family: var(--font-bold-family);
  padding: 0.6em 2em 0.8em 2em;
}

.navbar-expand-lg .navbar-nav .nav-link.contact:hover,
.navbar-expand-lg .navbar-nav .nav-link.contact.active {
  background: var(--secondary-color);
  color: var(--white-color);
}

.navbar-nav .navbar-toggler-icon {
  background: none;
}

.navbar-toggler {
  border: 0;
  padding: 0;
  cursor: pointer;
  margin: 0 10px 0 0;
  width: 30px;
  height: 35px;
  outline: #222222;
}

.navbar-toggler:focus {
  outline: none;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  background: transparent;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::before,
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::after {
  transition: top 300ms 50ms ease, -webkit-transform 300ms 350ms ease;
  transition: top 300ms 50ms ease, transform 300ms 350ms ease;
  transition: top 300ms 50ms ease, transform 300ms 350ms ease,
    -webkit-transform 300ms 350ms ease;
  top: 0;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::before {
  transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::after {
  transform: rotate(-45deg);
}

.navbar-toggler .navbar-toggler-icon {
  background: var(--primary-color);
  transition: background 10ms 300ms ease;
  display: block;
  width: 30px;
  height: 2px;
  position: relative;
}

.navbar-toggler .navbar-toggler-icon::before,
.navbar-toggler .navbar-toggler-icon::after {
  transition: top 300ms 350ms ease, -webkit-transform 300ms 50ms ease;
  transition: top 300ms 350ms ease, transform 300ms 50ms ease;
  transition: top 300ms 350ms ease, transform 300ms 50ms ease,
    -webkit-transform 300ms 50ms ease;
  position: absolute;
  right: 0;
  left: 0;
  background: var(--primary-color);
  width: 30px;
  height: 2px;
  content: "";
}

.navbar-toggler .navbar-toggler-icon::before {
  top: -8px;
}

.navbar-toggler .navbar-toggler-icon::after {
  top: 8px;
}

/*---------------------------------------
     HERO              
  -----------------------------------------*/

.hero {
  position: relative;
  overflow: hidden;
  height: 58vh;
  margin-bottom: 3em;
}

.hero-bg {
  /* background: linear-gradient(170deg, var(--primary-color) 64%, var(--white-color) 30%); */
  clip-path: polygon(0 0, 100% 0, 100% 60%, 0% 100%);
  background-image: url(../images/textura.webp);
  /* background-image: url(../images/texturareducida.png); */
}

.hero-image {
  position: relative;
}

.section_speakers_countdown {
  height: 170vh;
  width: 100vw;
  background: linear-gradient(to right,  #1C1E21 0%,#1C1E21 65%,#2E3135 35%,#2E3135 100%);
  align-content: center;
  justify-items: center;
}

.section_team_countdown {
  height: 380vh;
  width: 100vw;
  background-color: #F7FAFC;
}

.title_container_countdown {
  width: 100vw;
  height: 10vh;
  margin: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.img_countdown_speaker {
  width: 500px;
  margin: auto;
  margin-top: 40px;
  transition: all 0.5s ease-in-out;
}

.img_countdown_speaker:hover {
  -webkit-transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}


/*---------------------------------------
     PROJECT              
  -----------------------------------------*/

.project {
  background: var(--project-bg);
}

.project-wrapper {
  position: relative;
}

.project-wrapper img {
  border-radius: var(--border-radius-small);
}

.project-info {
  background-color: rgba(0, 0, 0, 0.091);
  -webkit-backdrop-filter: blur(25px);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  position: absolute;
  bottom: 5px;
  right: 32px;
  left: 32px;
  width: 90%;
  padding: 32px;
}

.project-info small {
  font-family: Plain-Regular;
  color: var(--white-color);
  position: relative;
  top: 2px;
}

.project-info a {
  color: var(--primary-color);
}

.project-info .project-icon {
  background: var(--primary-color);
}

.project-icon {
  position: absolute;
  right: 30px;
  top: 40px;
  background: var(--dark-color);
  border-radius: var(--border-radius-large);
  color: var(--white-color);
  font-size: var(--h2-font-size);
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  padding-left: 5px;
}

.owl-theme .owl-dots .owl-dot {
  outline: none;
}

.owl-theme .owl-dots .owl-dot span {
  background: var(--gray-color);
  width: 50px;
  height: 3px;
  margin: 35px 5px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: var(--secondary-color);
}

.list-detail {
  margin-left: 1em;
  padding-left: 1em;
  position: relative;
}

.list-detail li {
  display: block;
  list-style: none;
  margin: 0.6em 0 0 0.8em;
}

.list-detail li::before {
  content: "";
  width: 0;
  height: 0;
  border-width: 0 16px 16px 0;
  border-color: transparent var(--secondary-color) transparent transparent;
  border-style: solid;
  position: absolute;
  left: 0;
}

.list-detail span {
  position: relative;
  bottom: 5px;
}

.client-info img {
  width: 100px;
  margin-right: 1em;
}

/*---------------------------------------
      ABOUT            
  -----------------------------------------*/

.about {
  position: relative;
  overflow: hidden;
  height: max-content;
}

.about-image img {
  display: block;
  margin: 0 auto;
}

/*---------------------------------------
      BLOG            
  -----------------------------------------*/

.blog-header {
  border-radius: var(--border-radius-small);
  position: relative;
  overflow: hidden;
}

.blog-header img {
  border-radius: var(--border-radius-small);
  display: block;
}

.blog-header-info {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.95));
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 2em;
}

.blog-header-info h3 {
  max-width: 80%;
}

.blog-header-info a {
  color: var(--white-color);
}

.blog-header-info a:hover {
  color: var(--secondary-color);
}

.blog-sidebar img {
  border-radius: var(--border-radius-small);
  width: 159px;
  margin-right: 22px;
}

.blog-sidebar h3 {
  font-size: 18px;
}

/*---------------------------------------
     CONTACT              
  -----------------------------------------*/

.newsletter-form .form-control,
.contact-form .form-control {
  box-shadow: none;
  background: var(--project-bg);
  border: 0;
  padding: 1.7em 1.3em;
  margin: 14px 0;
}

.newsletter-form button,
.contact-form #submit-button {
  background: var(--primary-color);
  border-radius: var(--border-radius-large);
  color: var(--white-color);
  cursor: pointer;
  font-size: var(--p-font-size);
  line-height: 0px;
  padding: 1.5em 1.3em;
}

.newsletter-form button {
  background: var(--secondary-color);
}

/*---------------------------------------
     FOOTER              
  -----------------------------------------*/

.site-footer {
  background: var(--dark-color);
  padding: 7em 0 6em 0;
}

.site-footer a {
  color: var(--p-color);
}

.site-footer a:hover,
.footer-icon {
  color: var(--secondary-color);
}

.footer-link li {
  display: inline-block;
  list-style: none;
  margin: 0 10px;
}

.copyright-text,
.footer-link,
.site-footer .social-icon {
  margin-top: 6em;
}

.copyright-text {
  margin-top: 5.3em;
}

/*---------------------------------------
     SOCIAL ICON              
  -----------------------------------------*/

.social-icon {
  position: relative;
  padding: 0;
  margin: 4em 0 0 0;
}

.social-icon li {
  display: inline-block;
  list-style: none;
}

.social-icon li a {
  text-decoration: none;
  display: inline-block;
  font-size: var(--base-font-size);
  margin: 10px;
  text-align: center;
}

.creativo01 {
  background-image: url(../images/creativocarrusel.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 83%;
  height: 70vh;
}

.creativo02 {
  background: url(../images/creativocarrusel2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 83%;
  height: 500px;
}

.creativo03 {
  background: url(../images/creativocarrusel3.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 83%;
  height: 70vh;
}

/*---------------------------------------
     RESPONSIVE STYLES              
  -----------------------------------------*/

@media screen and (min-width: 1201px) {
  .creativo01 {
    background-image: url(../images/creativocarrusel.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 65%;
    height: 70vh;
  }

  .creativo02 {
    background: url(../images/creativocarrusel2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 65%;
    height: 70vh;
  }

  .creativo03 {
    background: url(../images/creativocarrusel3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 65%;
    height: 70vh;
  }

  .title_amarillo {
    color: var(--secondary-color);
    font-size: 60px;
    font-family: "Sharp";
    position: relative;
    z-index: 1;
    margin-bottom: 5vh;
  }

  .p_regular {
    color: var(--white-color);
    font-size: 25px;
    font-family: "Roboto-Light";
    margin-bottom: 5vh;
  }

  .p_red_2 {
    color: var(--white-color);
    font-size: 40px;
    font-family: "Roboto-Light";
    margin-bottom: 5vh;
  }

  .about-info {
    text-align: center;
  }
  .about-info h2 {
    max-width: 100vw;
  }

  .container__logo__thanks {
    display: none;
  }

  .img__art__02 {
    display: none;
  }

  .img__art__03 {
    display: none;
  }

  .img__art__04 {
    display: none;
  }

  .img__art__01 {
    display: none;
  }

  .countdown {
    height: 30vh;
  }

  .countgif {
    height: 222vh;
    margin: auto;
  }
}

@media screen and (min-width: 1025px) {

  .section__event.title_amarillo {
    color: var(--black);
    font-size: var(--h1-font-size);
    font-family: "Sharp";
    z-index: 1;
    margin-top: 8vh;
  }
  .project h2 {
    max-width: 32%;
    margin: 0 auto;
  }

  .carousel {
    height: 70vh;
    background-color: var(--black);
  }

  .carousel-inner {
    height: 70vh;
  }
  .p_red_2 {
    color: var(--white-color);
    font-size: 30px;
    font-family: "Roboto-Light";
    position: relative;
    z-index: 1;
  }

  .highlight__section {
    display: inline-block;
    background-color: var(--primary-color);
    margin: auto;
    border-radius: 10px;
    position: relative;
    z-index: 1;
    color: #f0f8ff;
    width: 40vw;
    height: 8vh;
    place-content: center;
    display: grid;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 0 2.8px 2.2px rgba(237, 30, 30, 0.034),
      0 6.7px 5.3px rgba(201, 36, 36, 0.048),
      0 12.5px 10px rgba(194, 37, 37, 0.06),
      0 22.3px 17.9px rgba(173, 24, 24, 0.072),
      0 41.8px 33.4px rgba(221, 30, 30, 0.086),
      0 100px 80px rgba(240, 58, 58, 0.12);
  }
  .highlight__section:hover {
    -webkit-transform: scale(1.1);
    transition: all 0.5s ease-in-out;
  }

  .text__aliado__olla {
    color: white;
    font-family: "Roboto-Light";
    padding-top: 10px;
  }

  .countdown{
    display: grid;
    place-items: center;
    background-color: var(--black);
    height: 45vh;
  }

  .countgif {
    height: 200px;
    margin: 10vh;
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 1024px) {
  .hero {
    padding-top: 5em;
  }

  .hero-text {
    bottom: 0;
  }

  .navbar {
    padding: 1em;
  }

  .navbar-collapse {
    text-align: center;
    padding: 2.5em 0;
  }

  .nav-link {
    display: inline-block;
  }

  .navbar-expand-lg .navbar-nav .nav-link.contact {
    margin: 1em 0;
  }

  .copyright-text,
  .footer-link,
  .site-footer .social-icon {
    margin-top: 3em;
    padding: 0;
    text-align: left;
  }

  .countdown {
    height: 50vh;
  }
  
  .countgif {
    height: 100;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 22px;
  }

  .section__event.title_amarillo {
    color: var(--black);
    font-size: var(--h1-font-size);
    font-family: "Sharp";
    z-index: 1;
    margin-top: 8vh;
  }

  .p_red_2 {
    color: var(--white-color);
    font-size: 23px;
    font-family: "Roboto-Light";
    position: relative;
    z-index: 1;
  }

  .p_regular {
    color: var(--white-color);
    font-size: 20px;
    font-family: "Roboto-Light";
    margin: 5vh 0 5vh 0;
  }

  .carousel {
    height: 40vh;
    background-color: var(--black);
  }

  .carousel-inner {
    height: 30vh;
  }

  .creativo01 {
    background-image: url(../images/creativocarrusel.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    height: 30vh;
  }

  .creativo02 {
    background: url(../images/creativocarrusel2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    height: 30vh;
  }

  .creativo03 {
    background: url(../images/creativocarrusel3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    height: 30vh;
  }

  .title_amarillo {
    color: var(--secondary-color);
    font-size: var(--h1-font-size);
    font-family: "Sharp";
    z-index: 1;
    margin: 0 0 1vh 0;
  }

  .title_sharp {
    color: var(--black);
    font-size: var(--h1-font-size);
    font-family: "Sharp";
    z-index: 1;
    margin: 1vh 0 1vh 0;
  }

  .project-info {
    right: 0;
    left: 0;
    margin: 0 auto;
  }

  .footer-link,
  .site-footer .social-icon {
    margin-top: 1em;
  }

  .copyright-text {
    margin: 2.5em 0 1em 0;
  }

  .footer-link li {
    margin-left: 0;
  }

  .nav-img {
    margin-right: 0em;
  }

  .img__art__02 {
    width: 21vw;
    position: absolute;
    left: 7%;
    top: 24%;
    z-index: 1;
  }

  .img__art__03 {
    width: 27vw;
    position: absolute;
    right: 10%;
    top: 44%;
    transform: rotate(90deg);
    z-index: 1;
  }

  .img__art__04 {
    width: 22vw;
    position: absolute;
    left: 7%;
    top: 45%;
    transform: rotate(290deg);
    z-index: 1;
  }

  .img__art__01 {
    width: 25vw;
    position: absolute;
    right: 4%;
    top: 70%;
    transform: rotate(70deg);
    z-index: 1;
  }

  .img__art__02__index {
    display: none;
  }

  .img__art__01__index {
    display: none;
  }

  .img__logo__thanks {
    height: 10vh;
    margin: 2vh 0 2vh 0;
  }

  .container_thanks_icons {
    margin: auto;
    display: flex;
    justify-content: space-between;
    width: 70vw;
    position: relative;
    z-index: 1;
  }

  .container__footer__art {
    max-width: 100vw;
    height: 50vh;
    background-image: url("../images/fondoabajo.png");
    background-repeat: no-repeat;
    background-size: 210%;
    background-position: right;
  }

  .container__footer__art__index {
    max-width: 100vw;
    height: 50vh;
    background-image: url("../images/fondoabajo.png");
    background-repeat: no-repeat;
    background-size: 210%;
    background-position: right;
  }

  .countdown {
    height: 20vh;
    background-color: var(--black);
  }

  .countgif {
    height: 15vh;
    margin: auto;
  }

  
}

@media screen and (max-width: 480px) {
  .title_sharp {
    color: var(--black);
    font-size: var(--h1-font-size);
    font-family: "Sharp";
    z-index: 1;
    margin-top: 8vh;
  }
  .highlight__section {
    display: inline-block;
    position: relative;
    z-index: 1;
    background-color: var(--primary-color);
    margin: auto;
    border-radius: 10px;
    color: #f0f8ff;
    width: 80vw;
    height: 15vh;
    place-content: center;
    display: grid;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 0 2.8px 2.2px rgba(237, 30, 30, 0.034),
      0 6.7px 5.3px rgba(201, 36, 36, 0.048),
      0 12.5px 10px rgba(194, 37, 37, 0.06),
      0 22.3px 17.9px rgba(173, 24, 24, 0.072),
      0 41.8px 33.4px rgba(221, 30, 30, 0.086),
      0 100px 80px rgba(240, 58, 58, 0.12);
  }
  .highlight__section:hover {
    -webkit-transform: scale(1.1);
    transition: all 0.5s ease-in-out;
  }

  .text__aliado__olla {
    color: white;
    font-family: "Roboto-Light";
    padding-top: 10px;
  }

  .carousel-inner {
    height: 25vh;
  }

  .creativo01 {
    background-image: url(../images/creativocarrusel.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    height: 30vh;
  }

  .creativo02 {
    background: url(../images/creativocarrusel2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    height: 30vh;
  }

  .creativo03 {
    background: url(../images/creativocarrusel3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    height: 30vh;
  }

  .countdown {
    background-color: var(--black);
    height: 15vh;
  }

  .countgif {
    height: 10vh;
    margin: auto;
  }

  .carousel {
    background-color: var(--black);

  }

  .p_red_2 {
    font-size: 20px;
    padding: 0 5vw;
    text-align: justify;
  }

  .p_regular {
    font-size: 17px;
    padding: 0 5vw;
    text-align: justify;
    margin: 5vh 0;
  }

  .section_speakers_countdown {
    height: 220vh;
    width: 100vw;
    background: linear-gradient(to right,  #1C1E21 0%,#1C1E21 65%,#2E3135 35%,#2E3135 100%);
    align-content: center;
    justify-items: center;
  }

  .img_countdown_speaker {
    width: 350px;
    margin: auto;
    margin-top: 40px;
    transition: all 0.5s ease-in-out;
  }

  .yellow_title_countdown {
    color: var(--secondary-color);
    font-size: var(--h1-font-size);
    font-family: var(--anton);
    z-index: 1;
    margin-top: 8vh;
    text-align: center;
  }
  
  .black_title_countdown {
    color: var(--black);
    font-size: var(--h1-font-size);
    font-family: var(--anton);
    z-index: 1;
    margin-top: 8vh;
    text-align: center;
  }

  .section_team_countdown {
    height: 920vh;
    width: 100vw;
    background-color: #F7FAFC;
  }
}

details {
  width: 75%;
  padding-top: 10vh;
  min-height: 5px;
  max-width: 1000px;
  padding: 45px 70px 45px 45px;
  margin: 0 auto;
  position: relative;
  font-size: 18px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  box-sizing: border-box;
  transition: all 0.3s;
}

details + details {
  margin-top: 20px;
}

details[open] {
  min-height: 50px;
  background-color: #f6f7f8;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
}

details p {
  color: #96999d;
  font-weight: 300;
}

summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  cursor: pointer;
}

summary:focus {
  outline: none;
}

summary:focus::after {
  content: "";
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 0 0 5px rebeccapurple;
}

summary::-webkit-details-marker {
  display: none;
}

.control-icon {
  fill: rebeccapurple;
  transition: 0.3s ease;
  pointer-events: none;
}

.control-icon-close {
  display: none;
}

details[open] .control-icon-close {
  display: initial;
  transition: 0.3s ease;
}

details[open] .control-icon-expand {
  display: none;
}
